<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evalu8</title>

    <!--Space Grotesk-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    
    <script src="{{url_for('static', filename='scripts/home-scripts.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home-styles.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/E8-favicon.png') }}">

</head>

<body>
    <img src="{{ url_for('static', filename='assets/home-blob.gif') }}" alt="Animated GIF">

    <div id="main-container">
        <div id="title-container">
            <div id="title">Evalu8</div>
            <span id="cursor">|</span>
        </div>
        
        <div id="tagline">Elevating evaluation systems with AI ✨</div>

        <div id="login-button"> 
            <button onclick="redirect('login')">Login/Signup</button>
        </div>
    </div>
</body>
</html>
